body {
  margin: 0;
  overflow-x: hidden;
  background-color: #184f7f;
  font-family: Arial, Helvetica, sans-serif;
}

/* // useEffect(() => {
  //   if (editListId || listInputVal.trim() === "") {
  //     inputRef.current?.focus();
  //   }
  // }, [editListId, listInputVal]);

  // useEffect(() => {
  //   localStorage.setItem("trelloList", JSON.stringify(list));
  // }, [list]); */
